@model Ingredient
@{
    ViewBag.Title = "Szczegóły składnka";
}
<h1>@Model.Nazwa Details</h1>

@if (Model.ProductIngredients != null && Model.ProductIngredients.Any())



{
    <h4>Produkty</h4>
    <table class="table">
        <thead>
            <tr>
                <th>Nazwa produktu</th>
                <th>Opis</th>
                <th>Cena</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var productIngredient in Model.ProductIngredients)

            {
                <tr>
                    <td>@productIngredient.Product.Nazwa</td>
                    <td>@productIngredient.Product.Opis</td>
                    <td>@productIngredient.Product.Cena</td>
                </tr>
            }
        </tbody>
    </table>
}
<div>
    <a asp-action="Index">Wróć do listy</a>
</div>